{{!-- <div class="slide-container swiper">
    <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">

            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"> </span>


                        <div class="card-image">
                            <img src="images/im.jpg" alt="img" class="card-img">
                        </div>
                   
                </div>
                <div class="card-content">
                    <h2 class="name">David</h2>
                    <p class="description">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime, exercitationem eaque magnam nisi voluptas totam impedit mollitia aperiam quae porro adipisci distinctio accusantium velit tempora quia nam repudiandae voluptatem hic?
                    </p>
                    <button class="button btn-style">View more</button>
                </div>


                
            </div>
        </div>
    </div>
</div> --}}

{{!-- 
    <div id="carouselExampleControls" class="carousel carousel-dark slide mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-wrapper container-sm d-flex py-2 px-2  justify-content-around">


      <div class="card  " style="width: 20rem;">
  <img src="images/im.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Card title</h2>
    <hr>
    
    <div class="row">
        <h4 class="marks">Score:600/700</h4>
        <h4 class="marks mx-4  justify-content-end">Rank:1234</h4>

    </div>
   
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-style">Go somewhere</a>

    
    
  </div>
</div>



</div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> --}}

 <div id="carouselExampleControls" class="carousel carousel-dark slide mt-5 mb-4" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-wrapper container-sm d-flex  justify-content-around">
      <div class="card  " style="width: 18rem;">
  <img src="images/im.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Card title</h2>
    <hr>
      <div class="row">
        <h4 class="marks">Score:600/700</h4>
        <h4 class="marks mx-4  justify-content-end">Rank:1234</h4>

    </div>
   
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-style btn-primary">Go somewhere</a>

    
    
  </div>
</div><div class="card" style="width: 18rem;">
 <img src="images/im.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Card title</h2>
    <hr>
      <div class="row">
        <h4 class="marks">Score:600/700</h4>
        <h4 class="marks mx-4  justify-content-end">Rank:1234</h4>

    </div>
   
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-style">Go somewhere</a>

    
    
  </div>
        </div>

        <div class="card" style="width: 18rem;">
<img src="images/im.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Card title</h2>

    <hr>
      <div class="row">
        <h4 class="marks">Score:600/700</h4>
        <h4 class="marks mx-4  justify-content-end">Rank:1234</h4>

    </div>
   
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-style">Go somewhere</a>

    
    
  </div>
</div>
</div>
    </div>
    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex   justify-content-around">
      <div class="card  " style="width: 18rem;">
 <img src="images/im.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Card title</h2>

    <hr>
      <div class="row">
        <h4 class="marks">Score:600/700</h4>
        <h4 class="marks mx-4  justify-content-end">Rank:1234</h4>

    </div>
   
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-style">Go somewhere</a>

    
  </div>
</div><div class="card" style="width: 18rem;">
 <img src="images/im.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Card title</h2>
     <hr>
      <div class="row">
        <h4 class="marks">Score:600/700</h4>
        <h4 class="marks mx-4  justify-content-end">Rank:1234</h4>

    </div>
   
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-style">Go somewhere</a>

    
  </div>
        </div>
        <div class="card" style="width: 18rem;">
  <img src="images/im.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Card title</h2>

     <hr>
      <div class="row">
        <h4 class="marks">Score:600/700</h4>
        <h4 class="marks mx-4  justify-content-end">Rank:1234</h4>

    </div>
   
     <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-style">Go somewhere</a>

    
  </div>
</div>
    </div>
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    