<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    

     <div class="container-fluid mt-5 contact-style" id="contactid">
    <div class="row">
        <div class="col-md-6 col-12 mx-auto">
            <h1 class="text-center main-heading">Contact Us</h1>
            <p  class="text-center sub-heading">we will be happy to help you</p>
       

<form action="/" method="POST"> 
 
<div class="row">
{{!--     
    <label for="exampleInputEmail1" class="form-label">Email </label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address"aria-describedby="emailHelp" name="email" >
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  
  <label for="exampleInputEmail1" class="form-label my-2">Name </label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name" aria-describedby="emailHelp" name="name">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

<label for="exampleInputEmail1" class="form-label my-2">Message</label>
    <input type="email" class="form-control" id="exampleInputEmail1"placeholder="example-(we love your mentorship)" aria-describedby="emailHelp" name="message">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

  </div>
  <button type="submit" class="btn btn-style btn-primary my-5 px-3 py-2">Submit</button> --}}
  

    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Name</label>
    <input class="form-control" id="exampleInputPassword1" name="name">

     <button type="submit" class="btn btn-style btn-primary my-5 px-3 py-2">Submit</button> 
  </div>
   
  
 
</form>

 </div>
    </div>
</body>
</html>