 <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row ">
                      <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-start align-items-center flex-column">
                       {{!-- <h1>A mentorship programme</h1> --}}
                       <div class="h-text">
                     <h1 >A MENTORSHIP PROGRAMME BY</h1> 
                   
                        <h1  > AIIMSONIANS</h1>
                        <p>we will help you to reach<span class="bold-style"> your educational goal😉</span></p>
                         <button class="btn-style btn-primary ">Read More</button>
                        </div>
                       

                    </div>
 {{!-- right-side --}}
                  <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="images/im.jpg" alt="" srcset="" width="500px" height="500px">
                            
                        </figure>
                    </div>
                </div>
               

            </div>
        </div>
    </div>
